body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color:#4e3100;
    font-size: 1.3em;
}
span{
    font-weight: bolder;
}
footer{
    color: white;
    background-color: #4e3100;
    padding-top: 2%;
    padding-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 3px -10px 5px #1B5316; 
}
.foot{
    text-align: center;
}

ul {
    list-style-type: circle;
  }
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #4e3100;
    display: flex;
    color : white;
    box-shadow: 3px 10px 5px #1B5316; 
    padding-bottom: 4%;
    margin-bottom: 4%;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
h3{
    color: #1B5316;
}
a.nav, a.foot{
    color : white;
    border-bottom-color: white;
}
.carmaux{
    color :#1B5316;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
    text-align: center;
}
h3{
    font-size: 1.8em;
}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.slogan{
    font-size: 1.5em;
}
#tarif, #map{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin: 5%;
}
#inscription{
    display: flex;
    flex-wrap: wrap;
}
#inscrit{
    text-align: left;
}
img{
    max-width: 400px;
    height: auto;
}
.detailtarif{
    margin: 3%;
}
.petit{
    font-size: 0.8em;
}